body {
    margin-top: 20px;
}

@media screen and (max-width:768px) {
    .wrap {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
    .header-search {
        width: 100%;
    }
}

@media screen and (min-width:769px) {
    .wrap {
        margin: auto;
        width: 980px;
    }
    .header-search {
        width: 50%;
    }

}

.contents {
    width: 100%;
}

.contents-posts li {
    margin-top: 20px;
}
