<!DOCTYPE html>
<html lang="ja">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
    <link rel="stylesheet" href="css/template.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/constant.js"></script>
    <script src="components/header.js"></script>
</head>

<body>

    <div id="index" class="wrap">
        <header>
            <header-item></header-item>
        </header>
        <div class="contents">
            <h3>{{ headline }}</h3>
            <input class="header-search" type="text" v-model="search" v-on:keyup.enter="fetchData" placeholder="作品名を完全一致で入力してください">
            <p>{{ message }}</p>
            <ul v-for="post in posts">
                <li>
                    <div>
                        {{ title }}：{{ post.title }}<br> {{ authors }}：{{ post.authors[0].last_name }}{{ post.authors[0].first_name }}<br>
                        <a :href="post.html_url" target="_blank">作品を読む</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <footer>
        <script src="js/index.js"></script>
    </footer>

</body>

</html>
